@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: white;
}

:root {
    --accent-font: 'Ubuntu', Arial, Helvetica, sans-serif;
    --san-serif: 'Roboto', Arial, Helvetica, sans-serif;
    --accent-clr-light: hsl(54, 100%, 50%);
    --accent-clr-dark: hsl(from var(--accent-clr-light) h calc(s + 20) calc(l - 20));
    --theme-light: hsl(240, 100%, 50%);
    --theme-dark: hsl(from var(--theme-light) h s calc(l - 25));
}

body {
    height: 100vh;
    position: relative;
}

.accent-font {font-family: var(--accent-font)}

.txt-shadow {text-shadow: 2px 2px 3px rgb(0 0 0 / .2)}

/* NEW STUFF */

body:not(:has(#start-page.hidden)) > *:not(#start-page) {display: none}
#start-page.hidden {display: none}