@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded');

@view-transition {navigation: auto}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: white;
}

:root {
    --accent-font: 'Ubuntu', Arial, Helvetica, sans-serif;
    --san-serif: 'Roboto', Arial, Helvetica, sans-serif;
    --yellow: rgb(255, 230, 0);
    --hover-yellow: hsl(from var(--yellow) h calc(s + 20) calc(l - 20));
}

body {
    height: 100vh;
    position: relative;
}

.accent-font {font-family: var(--accent-font)}

.txt-shadow {text-shadow: 2px 2px 3px rgb(0 0 0 / .2)}

